.controls-Schedule__grid {
  display: grid;
  grid-template-columns: $padding_controls-Schedule_time-label_left auto $padding_controls-Schedule_time-label_right repeat(6, 1fr);
  font-family: $font-family_controls-Schedule;
  color: $color_controls-Schedule;
}

.controls-Schedule__grid-row {
  display: contents;
}

.controls-Schedule__grid-row:hover .controls-Schedule__grid-cell {
  background-color: $background-color_controls-Schedule_row__hover;
}

.controls-Schedule__grid-row__header:hover .controls-Schedule__grid-cell {
  background-color: initial;
}

.controls-Schedule__grid-row__end:hover .controls-Schedule__grid-cell {
  background-color: initial;
}

.controls-Schedule__grid-row__header .controls-Schedule__grid__header-cell.controls-Schedule__grid__header-cell_hovered,
.controls-Schedule__grid__cell_hovered {
  background-color: $background-color_controls-Schedule_column__hover;
}

/* === Границы ячеек === */
@import "GridStyles/Borders";

/* === Высоты строк === */
@import "GridStyles/RowHeights";


.controls-Schedule__grid-cell__day-name {
  position: relative;
}

.controls-Schedule__day-name {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.controls-Schedule__grid-row__day-number {
  position: absolute;
  color: #9b9a9a;
  font-size: 14px;
  top: 2px;
  right: 2px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.controls-Schedule__grid-cell__time__wrapper {
  display: flex;
  justify-content: center;
}

.controls-Schedule__grid-cell__time__label {
  font-size: 14px;
  position: relative;
  top: -8px;
  padding: 0 5px;

}

$margin_lesson-cell: 5px;
$padding_lesson-cell: 3px;

.controls-Schedule__lesson {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$margin_lesson-cell*2});
  height: calc(100% - #{$margin_lesson-cell*2});
  margin: $margin_lesson-cell;
  border-radius: 3px;
  font-size: 14px;
  padding: $padding_lesson-cell;
  cursor: pointer;
}

.controls-Schedule__lesson-room {
  order: -1;
}

.controls-Schedule__lesson-teacher {
  display: none;
}

// Цвета уроков
@import "GridStyles/LessonsColors";
