// Variables can be used here like this:
// $color_DemoComponent-link-primary:          $primary;

$color_DemoComponent-link-primary:          #f27459;
$color_DemoComponent-link-primary_hover:    #f21564;
$margin-top_DemoComponent-h3:               40px;
$margin-top_DemoComponent-li-horizontal:    10px;
