$color_controls-Schedule: $color-text_default;
$padding_controls-Schedule_time-label: 15px;
$padding_controls-Schedule_time-label_left: $padding_controls-Schedule_time-label;
$padding_controls-Schedule_time-label_right: $padding_controls-Schedule_time-label;
$font-family_controls-Schedule: $font-family_default;
$background-color_controls-Schedule_row__hover: lighten($blue_hover, 4);
$background-color_controls-Schedule_column__hover: lighten($blue_hover, 4);
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
//$_controls-Schedule_
