@font-face {
  font-family: 'LatoWebBlack';
  src: url($font_path +'Lato/Lato-Black.eot');
  src: url($font_path +'Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url($font_path +'Lato/Lato-Black.woff2') format('woff2'),
  url($font_path +'Lato/Lato-Black.woff') format('woff'),
  url($font_path +'Lato/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}